<html>
<head>
    <title>Database</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans p-5">
    <nav class="mb-4 space-x-4">
        <a href="/" class="text-blue-600">Home</a>
        <a href="/database" class="text-blue-600">Database</a>
    </nav>
    <table class="min-w-full border-collapse">
        <tr>
            <th class="border px-2 py-1">ID</th>
            <th class="border px-2 py-1">Title</th>
            <th class="border px-2 py-1">Link</th>
        </tr>
        {{rows}}
    </table>
</body>
</html>
